.navigation{
margin: 30px auto;
padding: 10px;
background: $color-1;
border-radius: 30px;
max-width: 70%;
    ul {
    display: flex;
    justify-content: space-evenly;
    }

     a , a:visited{
        text-decoration: none;
        color: black;        
    }

    a:hover{
        color: bisque;
        transition: 1s;
    }


}