.navigation{
margin: 30px auto;
padding: 10px;
background: $color-1;
border-radius: 30px;
max-width: 70%;
    ul {
    display: flex;
    justify-content: space-evenly;
    }

     a , a:visited{
        text-decoration: none;
        color: black;        
    }

    a:hover{
        color: bisque;
        transition: 1s;
    }


}

@media screen and (max-width: 450px) {

   

    ul{
      flex-direction: column;
      height: auto;
    }

    .nav{
        padding: 10px 0;
        text-align: center;
        border-bottom: 2px dotted rgb(199, 157, 105);
        
    }

    .last{
        padding: 10px 0;
        text-align: center;
    }

   
}
